.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // --bs-bg-opacity: 0.5;

  // background-color: $body-bg;
  z-index: 100;

  ul {
    @extend .bg-body;
    border-radius: 0.25rem;

    li {
      width: max-content;
    }

    @include media-breakpoint-down(lg) {
      li {
        li {
          padding-left: 2rem;
        }
      }
    }
  }
}