::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  height: 3rem;
}

.project {
  &-header {
    position: fixed;
    min-height: 2rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    // align-items: center;

    > a {
      width: 100%;
      height: 2rem;
      display: flex;
      align-items: center;
      text-decoration: none;

      > span {
        @extend .container;
        color: white;
      }
    }
  }

  &-section {
  }

  &-content-container {
    width: 100vw;
    top: 3rem;
    overflow: hidden;
  }
}

.pin-spacer {
  top: 0;
}
