.page {
  height: 100vh;
}

.nav-collapse {
  padding: 0;
  border-radius: 0 !important;
}

.nav-collapse-toggle {
  @extend .container;
  display: flex;
  position: relative;
  width: 100%;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  justify-content: start;
  align-items: start;
  text-decoration: none;
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}